.App{
     height:100vh;
  display: flex;
  flex-direction: column;
     min-height:100%;
}
.task-list-item{
     display:flex !important;
     flex-direction: row;
     
}
.task-list-item .task-list-column{
     margin:5px;
     min-width:100px;
     text-align: center;
}


